<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<<<<<<< HEAD
<h1>EJB Wuz Here</h1>
||||||| merged common ancestors
=======
<h1> HIS NAME WAS ROBERT PAULSON </h1>
>>>>>>> 66ae03ce07c19ddc2b62e23fa371194b42667019
