<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<h1>EJB Wuz Here</h1>

<h1> HIS NAME WAS ROBERT PAULSON </h1>

<h1> Her NAME WAS ROBERTA PAULSON </h1>
<a href="https://www.youtube.com/watch?v=hCqV0OQKXEM">Text that will be the link</a>
<p>Hi my name is Peter</p>
<h1> Her NAME WAS ROBERTA PAULSON </h1>
<a href="https://www.youtube.com/watch?v=hCqV0OQKXEM">Text that will be the link</a>
<p>Hi my name is Peter</p>
