<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<<<<<<< HEAD
<p>Jennifer</p>
=======

<h1> Her NAME WAS ROBERTA PAULSON </h1>
<a href="https://www.youtube.com/watch?v=hCqV0OQKXEM">Text that will be the link</a>

<p>Hi my name is Peter</p>

>>>>>>> 6e7ff6c9140f5c679e395c1a4e372fbe7d205024
